    <div id="colophon" class="col-12">
        <div class="row">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/api">API</a></li>
            </ul>
        </div>
    </div>
