</div>
<% if (node_env === 'production') { _%>
<script data-goatcounter="https://tracking.adventurehound.io/count" async="" src="//tracking.adventurehound.io/count.js"></script>
<% } _%>
<!-- poop -->
</body>
</html>
