        <div class="row heading">
            <a href="/"><h1>Spicy Ipsum Generator</h1></a>
        </div>
        <p class="subheading">Lorem ipsum generator with a <span title="Cacao!">nip</span></p>
