<%- include('includes/header', {id: 'generic_error'}) _%>
<div class="row">
    <div class="col-12 mb-2">
        <div class="row heading">
            <h1>Not found</h1>
        </div>
        <div class="block" title="We'll do it live. WE'LL DO IT LIVE! FUCK IT! DO IT LIVE! I ca... I'll write it and we'll do it live! Fucking thing SUCKS! - Bill O'Reilly (1993)">
            <p>Ok, I don't know.</p>
            <p>Whatever it is, it's not right on the teleprompter.</p>
            <p>I don't know what that is; I've never seen that.</p>
        </div>
    </div>
</div>
<%- include('includes/footer') _%>
