<%- include('includes/header', {id: 'generic_error'}) _%>
<div class="row">
    <div class="col-12 mb-2">
        <div class="row heading">
            <h1>Well that's embarrassing</h1>
        </div>
        <p>Something unexpected happened on our end.</p>
    </div>
</div>
<%- include('includes/footer') _%>
