<%- include('includes/header', {id: 'error'}) _%>
<div class="row justify-content-center">
    <div class="col-12">
        <%- include('includes/alert') _%>
    </div>
</div>
<%- include('includes/footer') _%>
