<%- include('includes/header', {id: 'home'}) _%>
<div class="row justify-content-center">
    <div class="col-12">
        <%- include('includes/alert') _%>
        <p>TODO</p>
    </div>
</div>
<%- include('includes/footer') _%>
