/* main.css */

body,
body a,
body h1,
body h2,
body h3,
body h4,
body h5,
body i {
    color: #364557;
}

.content {
    max-width: 35rem;
    margin-top: 2rem;
}

h1 {
    font-size: 2.3rem;
}

.heading {
    font-family: Georgia, serif;
}

.subheading {
    font-style: italic; 
}

.block p {
    margin-bottom: 0rem;
}

div.row:not(.subheading) p a,
div.row:not(.heading) p a {
    text-decoration: underline;
}

br {
    display: block;
    margin: 3px 0;
}

.row .col h3 {
    padding-top: 0.32rem;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

i.info {
    margin-left: 0.5rem;
    font-size: 0.8rem;
    font-weight: bolder;
}

.btn-light-alt {
    color: #212529;
    border: 1px solid #dee2e6;
    background-color: #f8f9fa;
}

.btn-light-alt:hover, .btn-light-alt:active,
.btn-light-alt:focus, .btn-light-alt:active:focus {
    color: #212529;
    border: 1px solid #dee2e6;
    background-color: #EEEEEE;
}

.btn-light-outline,
.btn-light-outline:hover, .btn-light-outline:active,
.btn-light-outline:focus, .btn-light-outline:active:focus {
    border: 1px solid #cfcfcf;
}

i.icon {
    padding-right: 0.5rem;
    font-size: 0.9rem;
}

.button-group {
    margin-top: 0.67rem;
    margin-bottom: 1rem;
}

.button-group .btn {
    min-width: 6.5rem;
    height: 2.5rem;
    margin-right: 0.4rem;
    padding-top: 0.35em;
}

.button-group a.btn {
    padding-top: 0.45em;
    text-decoration: none;
}

.btn-primary {
    color: #fff;
    background-color: #3C4E62;
    border-color: #3C4E62;
}

.btn-primary:hover, .btn-primary:active,
.btn-primary:focus, .btn-primary:active:focus {
    color: #fff;
    background-color: #495D73;
    border-color: #495D73;
}

.btn-secondary {
    color: #2D3B4A;
    background: transparent none;
    border-color: #2D3B4A;
}

.btn-secondary:hover, .btn-secondary:active,
.btn-secondary:focus, .btn-secondary:active:focus {
    color: #2D3B4A;
    background-color: #EEEEEE;
    border-color: #3C4E62;
}

button.btn:disabled {
    background-color: #7088A4;
    border-color: #7088A4;
    cursor: not-allowed;
    pointer-events: none;
}

.action-button {
    width: 100%;
    margin-bottom: 0.5rem;
}

#colophon {
}

#colophon li {
    display: inline-block;
}

#colophon li a {
    font-size: 0.9rem;
    padding-right: 0.5rem;
}

.codeblock {
    color: var(--bs-code-color);
}

.codeblock pre {
    margin-top: 0.25rem;
    margin-bottom: 0;
    overflow-x: auto;
}

#api ul li {
    list-style-type: none;
}

/* mobile */
@media (max-width: 767px) {
    .content {
        margin-top: 1rem;
        padding-right: 1rem;
        padding-left: 1rem;
    }

    h1 {
        font-size: 1.9rem;
    }
}
